body {
    background-color: aliceblue;
}
header {
    background-color: aquamarine;
    text-align: center;
    padding: 10px 0;
}
h1 {
    color: #f4005f;
}

dl {
    margin-top: 50px;
}
dt {
    margin-top: 30px;
    color: deeppink;
}
h2 {
    margin-top: 30px;
    color: deeppink;
}
button {
    margin-top: 30px;
}

p {
    font-weight: bold;
}
dt {
    font-weight: bold;
    font-size: 25px;
}